<nz-layout style="height: 100vh;">
  <nz-header style="color: #fff;font-size: 24px;">NgxNgZorroFormly示例</nz-header>
  <nz-layout>
    <nz-content>
      <nz-tabset
        style="min-height:220px;height: 100%;background-color: #fff;overflow-y: auto;"
        nzTabPosition="left"
      >
        <nz-tab
          *ngFor="let tab of tabs"
          [nzTitle]="tab.name"
          (nzSelect)="handleSelect(tab)"
        >
          <formly-form-template 
            #formlyFormTemplate
            [configs]="tab.config"
          ></formly-form-template>
        </nz-tab>
      </nz-tabset>
    </nz-content>
    <nz-sider style="background-color: #e9ecf3;min-width: 50%;">
      <div style="width: 100%;overflow-y: auto;padding: 10px;height: 100%;">
        <pre>{{ fieldConfig }}</pre>
      </div>
    </nz-sider>
  </nz-layout> 
</nz-layout>